@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fjalla+One&family=Josefin+Sans&display=swap');

/*
font-family: 'Abril Fatface', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

/*
--xiketic: #03071eff;
--dark-sienna: #370617ff;
--rosso-corsa: #d00000ff;
--orange-web: #faa307ff;
*/

*{
	box-sizing:border-box;
	margin:0;
	font-family: 'Josefin Sans', sans-serif;
}